{% macro can_write_attr(form_key) -%}
{%- if current_user and current_user.permissions.get(form_key, (False, False))[1] -%}
{%- else -%}disabled title="No tiene permisos de escritura"{%- endif -%}
{%- endmacro %}

{% macro can_write_js(form_key) -%}
{{ 'true' if (current_user and current_user.permissions.get(form_key, (False, False))[1]) else 'false' }}
{%- endmacro %}

{% macro can_write_bool(form_key) -%}
{{ True if (current_user and current_user.permissions.get(form_key, (False, False))[1]) else False }}
{%- endmacro %}
